<%= link_to 'Edit User', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
<%= link_to 'Delete User', user_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @user.name %>
</p>
<p>
  <strong>E-mail</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Password</strong>
  <%= @user.password_digest %>
</p>

<h3>Images</h3>

<p>
  <%= @user.images.each do |image| %>
    <%= image_tag image.image unless @user.image.blank? %>
  <% end %>
</p>
