<h1>All users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', api_v1_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_api_v1_user_path(user) %></td>
    <td><%= link_to 'Delete', api_v1_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New user', new_api_v1_user_path %>